In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel, SelectKBest, f_classif, chi2, mutual_info_classif
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.model_selection import cross_val_score
import logging
import featuretools as ft
import matplotlib.pyplot as plt
import re
import sqlalchemy
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import QuantileTransformer
import scipy.stats as stats
from scipy.stats import kurtosis, skew, spearmanr, pearsonr
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.cluster import KMeans, DBSCAN, Birch
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, roc_auc_score
from sklearn_extra.cluster import KMedoids
from kmodes.kprototypes import KPrototypes
# from fcm import FCM
from sklearn.metrics import silhouette_score, davies_bouldin_score

C:\Users\Pouya\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
# Function to detect source type
def detect_source_type(source):
    if re.search(r'\.csv$', source):
        return 'csv'
    elif re.search(r'\.xlsx?$', source):
        return 'excel'
    elif re.search(r'sqlite://|postgresql://|mysql://|oracle://', source):
        return 'sql'
    else:
        raise ValueError("Unknown source type. Please provide a valid source file or connection string.")

# Function to show correct input format based on the engine type
def get_engine_format():
    print("Supported SQL Engines:")
    print("1. SQLite: sqlite:///path_to_database.db")
    print("2. PostgreSQL: postgresql://username:password@localhost:5432/database_name")
    print("3. MySQL: mysql://username:password@localhost:3306/database_name")
    print("4. Oracle: oracle://username:password@localhost:1521/service_name")
    engine = input("Please provide the database connection string (as per formats above): ")
    return engine

# Function to load data from different sources
def load_data(source):
    source_type = detect_source_type(source)

    if source_type == 'csv':
        return pd.read_csv(source)
    elif source_type == 'excel':
        return pd.read_excel(source)
    elif source_type == 'sql':
        engine = get_engine_format()
        sql_query = input("Enter the SQL query to load data: ")
        engine = sqlalchemy.create_engine(engine)
        return pd.read_sql_query(sql_query, engine)
    else:
        raise ValueError("Invalid data source type.")

In [17]:
# Function to show column descriptions and types and percent of null values for every column
def show_column_info(df):
    print("Column Descriptions and Data Types:")
    print(df.info())
    print("\nMissing values for each column:")
    print(df.isnull().sum())
    for col in df.columns:
        missing_percentage = ((df[col].isnull().sum()) / df.shape[0]) * 100
        print(f"Column: {col}")
        print(f"Missing: {missing_percentage:.2f}%")
    print("\n")

    
    
# Function to ask if the user wants to drop columns and handle dropping
def drop_columns(df):
    drop_choice = input("Do you want to drop any columns? (yes/no): ").strip().lower()

    if drop_choice == 'yes':
        while True:
            columns_to_drop = input("Enter the column names you want to drop, separated by commas: ").strip().split(',')

            # Validate if columns exist in the dataframe
            invalid_columns = [col for col in columns_to_drop if col not in df.columns]
            if invalid_columns:
                print(f"Invalid column names: {', '.join(invalid_columns)}. Please try again.")
            else:
                # Drop the valid columns
                df.drop(columns=columns_to_drop, inplace=True)
                print(f"Dropped columns: {', '.join(columns_to_drop)}.")
                break
    else:
        print("No columns were dropped.")

    return df

def change_column_type(df_drop, df):
    df_type = df_drop.copy()  # Make a copy of the DataFrame

    while True:
        all_correct = input("Are all the data types correct? (yes/no): ").strip().lower()

        if all_correct == 'yes':
            print("Proceeding with the current data types.")
            return df_type  # Return the DataFrame as is

        elif all_correct == 'no':
            while True:
                columns_to_change = input(
                    "Which columns do you want to change the format for? (comma-separated, or type 'exit' to stop): ").strip().split(',')
                columns_to_change = [col.strip() for col in columns_to_change]  # Clean up input

                if 'exit' in columns_to_change:
                    print("Exiting column type change.")
                    break  # Exit the loop if the user types 'exit'

                for col in columns_to_change:
                    if col in df_drop.columns:
                        print(f"Current data type of '{col}': {df_drop[col].dtype}")
                        new_type = input(
                            f"What data type would you like to convert '{col}' to? (e.g., int, float, str, datetime): ").strip().lower()

                        # Check for exit command before proceeding with type change
                        if new_type == 'exit':
                            print("Exiting column type change.")
                            break

                        # Apply the type change with error handling
                        try:
                            if new_type == 'datetime':
                                df_type[col] = pd.to_datetime(df_type[col], errors='coerce')  # Convert to datetime
                            else:
                                df_type[col] = df_type[col].astype(new_type)  # Convert to other types (int, float, str)
                            print(f"Successfully converted '{col}' to {new_type}.")
                        except ValueError as e:
                            print(f"Error converting '{col}' to {new_type}: {e}")

                    else:
                        print(f"Column '{col}' not found in the dataframe. Please try again.")

        # Check if user wants to change data types again
        data_type_again = input("Do you want to change data format again? (yes/no): ").strip().lower()
        if data_type_again != 'yes':
            return df_type, False  # Return dataframe and a flag indicating user wants to stop

        # Go back to drop columns stage if needed
        go_back = input("Do you want to go back to 'Drop Column' stage? (yes/no): ").strip().lower()
        if go_back == 'yes':
            return drop_columns(df), True  # Go back to drop columns and return the modified DataFrame

In [ ]:
# Function to choose a method to fill missing values
def choose_fillna_method():
    print("Do you want to fill missing values? (yes/no)")
    fill_choice = input("Enter yes or no: ").strip().lower()

    if fill_choice == 'no':
        return None

    # Show methods
    print("Choose a method to handle missing values:")
    print("1. Forward Fill (ffill)")
    print("2. Backward Fill (bfill)")
    print("3. Mean")
    print("4. Median")
    print("5. Mode")
    print("6. Drop Rows (dropna)")

    methods = {}
    while True:
        user_input = input("Enter the columns and methods in the format (col1, method_number). (col2, method_number) and etc. or type 'done' to finish: ")
        if user_input.lower() == 'done':
            break

        # Split the user input into individual column-method pairs
        pairs = user_input.split('.')
        for pair in pairs:
            try:
                # Strip spaces and parentheses
                pair = pair.strip().strip('()')
                col, method_number = pair.split(',')
                col = col.strip()
                method_number = method_number.strip()

                # Add to methods dictionary
                methods[col] = method_number
            except ValueError:
                print(f"Invalid input: {pair}. Please use the format (column, method_number).")

    return methods

# Function to fill missing values in the DataFrame
def fill_missing_values(df):
    methods = choose_fillna_method()

    if not methods:
        return df  # No filling required

    # Check if the drop method was selected
    drop_selected = any(method == '6' for method in methods.values())

    if drop_selected:
        # Drop rows with missing values
        df.dropna(axis=0, inplace=True)
        print("Dropped rows with missing values.")

    # Process other methods
    for column, method_number in methods.items():
        if method_number == '6':
            continue  # Skip processing for method 6 as it's already handled

        if column in df.columns:
            try:
                method = {
                    '1': 'ffill',
                    '2': 'bfill',
                    '3': 'mean',
                    '4': 'median',
                    '5': 'mode'
                }.get(method_number, None)

                if method:
                    if method == 'ffill':
                        df[column].fillna(method='ffill', inplace=True)
                    elif method == 'bfill':
                        df[column].fillna(method='bfill', inplace=True)
                    elif method == 'mean':
                        df[column].fillna(df[column].mean(), inplace=True)
                    elif method == 'median':
                        df[column].fillna(df[column].median(), inplace=True)
                    elif method == 'mode':
                        df[column].fillna(df[column].mode()[0], inplace=True)

                    print(f"Successfully filled missing values in column '{column}' using '{method}'.")
                else:
                    print(f"Invalid method for column '{column}': {method_number}.")

            except Exception as e:
                print(f"Error filling missing values in column '{column}': {e}.")
        else:
            print(f"Column '{column}' not found in the DataFrame.")

    return df


def get_date_columns(df):
    print("Available columns: ", list(df.columns))
    date_columns = input("Enter the names of date columns separated by commas: ").strip().split(',')
    date_columns = [col.strip() for col in date_columns]
    
    date_formats = {}
    for col in date_columns:
        print(f"Choose the format for date column '{col}':")
        print("1. YYYY-MM-DD")
        print("2. DD/MM/YYYY")
        print("3. MM-DD-YYYY")
        print("4. Custom (you will be prompted to enter the format)")
        choice = input("Enter the number corresponding to your choice: ").strip()
        
        if choice == '1':
            date_formats[col] = '%Y-%m-%d'
        elif choice == '2':
            date_formats[col] = '%d/%m/%Y'
        elif choice == '3':
            date_formats[col] = '%m-%d-%Y'
        elif choice == '4':
            custom_format = input(f"Enter the custom date format for column '{col}': ").strip()
            date_formats[col] = custom_format
        else:
            print("Invalid choice. Defaulting to YYYY-MM-DD.")
            date_formats[col] = '%Y-%m-%d'
    
    return date_columns, date_formats

In [14]:
df = pd.read_csv(r"C:\Users\Pouya\Desktop\New folder (3)\data.csv")

In [16]:
change_column_type(df)

Are all the data types correct? (yes/no): no
Which columns do you want to change the format for? (comma-separated, or type 'exit' to stop): Recency
Current data type of 'Recency': int64
What data type would you like to convert 'Recency' to? (e.g., int, float, str, datetime): int
Successfully converted 'Recency' to int.
Which columns do you want to change the format for? (comma-separated, or type 'exit' to stop): exit
Exiting column type change.
Do you want to change data format again? (yes/no): no
Do you want to go back to 'Drop Column' stage? (yes/no): yes
Do you want to drop any columns? (yes/no): no
No columns were dropped.

,Mobile Key,Delay From Due Date,Num Delay Payment Car,Wallet Balance,outflow,inflow,mothly_avg_outflow,mothly_avg_inflow,charity_amount,avg_municipality_amount,...,max_route_rate,max_train_rate,max_car_price,Loyality Score,Recency,num_delay_payment,avg_date_diff_payment,delay_total_amount,num_loan,total_loan_amount
0,107622619,92,8,0,86480980,1172400,3.930954e+06,5.329091e+04,0,0.0,...,0,0,0,5,18,23,1.913043,7883710.0,1,4.627395e+09
1,61033028,37,12,0,242054839,13892000,8.964994e+06,5.145185e+05,0,3819000.0,...,0,0,0,12,1,1,3.000000,2522610.0,1,7.204574e+09
2,43884135,224,9,0,13098762,1303190,1.007597e+06,1.424414e+05,0,0.0,...,0,0,0,0,28,0,0.000000,0.0,1,1.591108e+09
3,80371807,1235,22,0,581989950,442150,3.879933e+07,2.947667e+04,0,0.0,...,0,0,0,166,1,1,1.000000,117770.0,1,6.995538e+08
4,160760006,39,2,0,1568141438,193934000,5.817191e+07,7.182741e+06,2500000,0.0,...,0,0,0,68,24,2,1.000000,5382440.0,1,1.085100e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19238,58020310,93,18,0,226090232,27531000,1.507268e+07,1.619471e+06,0,0.0,...,0,0,39500000000,1,6,149,71.362416,28143120.0,1,5.473742e+09
19239,14850765,258,24,0,47156449398,7488696600,8.421895e+08,1.337267e+08,6160000,5972500.0,...,4,0,39500000000,3300,1,0,0.000000,0.0,1,1.084566e+10
19240,40730770,159,2,0,9022179372,299100000,1.074069e+08,3.477907e+06,0,0.0,...,4,0,50000000000,154,2,0,0.000000,0.0,1,2.557246e+09
19241,36811082,370,20,0,6346078126,528017622,1.133228e+08,9.428886e+06,0,0.0,...,0,0,50000000000,323,1,140,18.764286,47629000.0,2,1.029108e+10
19242,42826597,550,42,1391913,10272012334,454444900,1.841616e+08,7.100702e+06,41040000,0.0,...,4,1,50000000000,57,1,1,6.000000,1856650.0,1,7.486013e+09